---
# Update the collect files to contain metadata obtained from Heat
#
- name: "Ensure heat local-data directory exists"
  sudo: yes
  file: path=/var/lib/os-collect-config/local-data state=directory
- name: "Write out metadata"
  sudo: yes
  template:
    src: templates/host_metadata.json.j2
    dest: /var/lib/os-collect-config/local-data/host_metadata.json
- name: "Run os-collect-config"
  sudo: yes
  command: os-collect-config --force --one
