---
- include: disable_os_collect_config.yml
- hosts: undercloud
  name: Disable Undercloud
  tasks:
    - service: name={{ item }} enabled=no state=stopped
      with_items: undercloud_services
- hosts: nova-compute
  name: Disable Overcloud Compute
  sudo: yes
  tasks:
    - service: name={{ item }} enabled=no state=stopped
      with_items: overcloud_compute_services
- hosts: controller
  name: Disable Overcloud Controller
  sudo: yes
  tasks:
    - service: name={{ item }} enabled=no state=stopped
      with_items: overcloud_controller_services
- hosts: undercloud
  name: Rebuild and Refresh Undercloud
  tasks:
    - { include: rebuild.yml, instance_id: "{{ instance_id }}", rebuild_image_id: "{{ undercloud_rebuild_image_id }}" }
    - include: refresh_config.yml
- hosts: nova-compute
  name: Rebuild and Refresh Nova Compute
  tasks:
    - { include: rebuild.yml, instance_id: "{{ instance_id }}", rebuild_image_id: "{{ nova_compute_rebuild_image_id }}" }
    - include: refresh_config.yml
- hosts: controller
  name: Rebuild and Refresh Controller
  tasks:
    - { include: rebuild.yml, instance_id: "{{ instance_id }}", rebuild_image_id: "{{ controller_rebuild_image_id }}" }
    - include: refresh_config.yml
- hosts: controller
  name: Enable Overcloud Controller
  sudo: yes
  tasks:
    - service: name={{ item }} enabled=yes state=started
      with_items: overcloud_controller_services
- hosts: nova-compute
  name: Enable Overcloud Compute
  sudo: yes
  tasks:
    - service: name={{ item }} enabled=yes state=started
      with_items: overcloud_compute_services
- hosts: undercloud
  name: Enable Undercloud
  sudo: yes
  tasks:
    - service: name={{ item }} enabled=yes state=started
      with_items: undercloud_services
