---
- hosts: all
  tasks:
    - include: disable_os_collect_config.yml
- hosts: undercloud
  name: Disable Undercloud
  tasks:
    - service: name={{ item }} enabled=no state=stopped
      with_items: undercloud_services
- hosts: nova-compute
  name: Disable Overcloud Compute
  sudo: yes
  tasks:
    - service: name={{ item }} enabled=no state=stopped
      with_items: overcloud_compute_services
- hosts: controller
  name: Disable Overcloud Controller
  sudo: yes
  tasks:
    - service: name={{ item }} enabled=no state=stopped
      with_items: overcloud_controller_services
- hosts: undercloud
  name: Rebuild and Refresh Undercloud
  tasks:
    - include: preserve_ssh_host_keys.yml
    - { include: rebuild.yml, instance_id: "{{ instance_id }}", rebuild_image_id: "{{ undercloud_rebuild_image_id }}" }
    - local_action: wait_for port=22 timeout=600 host="{{ inventory_hostname }}" search_regex=OpenSSH delay=10
    - include: restore_ssh_host_keys.yml
    - include: refresh_config.yml
- hosts: nova-compute
  name: Rebuild and Refresh Nova Compute
  tasks:
    - include: preserve_ssh_host_keys.yml
    - { include: rebuild.yml, instance_id: "{{ instance_id }}", rebuild_image_id: "{{ nova_compute_rebuild_image_id }}" }
    - local_action: wait_for port=22 timeout=600 host="{{ inventory_hostname }}" search_regex=OpenSSH delay=10
    - include: restore_ssh_host_keys.yml
    - include: refresh_config.yml
- hosts: controller
  name: Rebuild and Refresh Controller
  tasks:
    - include: preserve_ssh_host_keys.yml
    - { include: rebuild.yml, instance_id: "{{ instance_id }}", rebuild_image_id: "{{ controller_rebuild_image_id }}" }
    - local_action: wait_for port=22 timeout=600 host="{{ inventory_hostname }}" search_regex=OpenSSH delay=10
    - include: restore_ssh_host_keys.yml
    - include: refresh_config.yml
- hosts: all
  tasks:
    - include: disable_os_collect_config.yml
- hosts: controller
  tasks:
    - name: "Run os-collect-config"
      sudo: yes
      command: os-collect-config --force --one
- hosts: controller
  name: Enable Overcloud Controller
  sudo: yes
  tasks:
    - service: name={{ item }} enabled=yes state=started
      with_items: overcloud_controller_services
- hosts: nova-compute
  name: Enable Overcloud Compute
  sudo: yes
  tasks:
    - name: "Run os-collect-config"
      sudo: yes
      command: os-collect-config --force --one
    - service: name={{ item }} enabled=yes state=started
      with_items: overcloud_compute_services
- hosts: undercloud
  name: Enable Undercloud
  sudo: yes
  tasks:
    - service: name={{ item }} enabled=yes state=started
      with_items: undercloud_services
